
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/* Mainly for the homepage */

body{
    background-image: url("https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3ltfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    font-family: 'Lobster', cursive;
    margin: 0;
    height: 100%;
}

#program{
display:inline-block;
padding:20px;
border:solid;
background-color: black;
color:white;
opacity: 0.8;
border-radius: 10px;
font-family: 'Lobster', cursive;


}

#profile{
    float: right;
    padding:20px;
    border:solid;
    background-color: black;
color:white;
opacity: 0.8;
border-radius: 10px;
/* background-image: url("https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHByb2ZpbGUlMjBwaWN0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"); */
/* background-size:cover; */
font-family: 'Lobster', cursive;




}

#date{
    display:flex;
    justify-content: center;
    border:solid;
    margin-top: 20px;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.8);
color: white;
border-radius: 10px;
font-size: larger;
/* height: 100px; */
/* background-image: url('https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZXhlcmNpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60'); */
background-position: center;
}

.meal-picture{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.meal-picture-one{
 background-image: url('https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGFtYnVyZ2VyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60'); 
width: 200px;
height: 100px;
/* opacity: 0.8; */
border-radius: 20px;
box-shadow: 5px 5px 5px 5px;
background-position: center;
background-size: cover;
}

.workout-image{
    background-image: url('https://images.unsplash.com/photo-1594381898411-846e7d193883?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGV4ZXJjaXNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
}

#meal-container{
border:solid;
background-color: black;
color:white;
opacity: 0.8;
margin-top: 20px;
border-radius: 10px;
height:max-content;

}

h2{
    display:flex;
    justify-content: center;
    background-color: black;
color:white;
opacity: 0.8;
border-bottom: solid 5px white;
}

#workout-container{
    border:solid;
    background-color: black;
    color:white;
    opacity: 0.8;
    margin-top: 20px;
border-radius: 10px;
    }

.muscle-group{
    display: flex;
    justify-content: center;
    font-size: 25px;
    /* background-image: url("https://images.unsplash.com/photo-1600677396439-fa707a38d570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fG11c2NsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"); */
background-position: center;
background-size:cover;
}

.meal-group{
    display: flex;
    justify-content: center;
    font-size: 25px;
    /* background-image: url("https://images.unsplash.com/photo-1528207776546-365bb710ee93?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFuY2FrZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"); */
background-position: center;
background-size:cover;
}

li{
    list-style:circle;
}



.program-page{
    display:flex;
    justify-content: center;
padding:20px;
border:solid;
background-color: black;
color:white;
opacity: 0.8;
border-radius: 10px;
}

.customize{
    display:flex;
    justify-content: center;
    align-items: center;
    border:solid;
    background-color: black;
    color:white;
    opacity: 0.8;
    margin-top: 20px;
    font-size: 64px;
    border-radius: 10px; 
    height:50vw;
}

.generate{
    display:flex;
    justify-content: center;
    align-items: center;
    border:solid;
    background-color: black;
    color:white;
    opacity: 0.8;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 64px;
    height:50vw;
}

#homepage-btn{
    display: flex;
    justify-content: center;
    padding:20px;
    margin-bottom: 15px;
    border:solid white;
    background-color: black;
    color:white;
    opacity: 0.8;
    border-radius: 10px;
    font-family: 'Lobster', cursive;

}

/* Customize Page */

 .customizing{
    display:flex;
    flex-wrap: wrap;
    border:solid;
    background-color: black;
    color:white; 
    margin-top: 20px;  
    border-radius: 10px; 
    /* height:100vw; */
}
 
li{
    list-style:circle;
}

#homepage-btn{
    display: inline-block;
    /* justify-content: center; */
    padding:20px;
    border:solid white;
    background-color: black;
    color:white;
    opacity: 0.8;
    border-radius: 10px;
    font-family: 'Lobster', cursive;

}

/* Customize Page */

.customizing{
    /* display:block; */
    border:solid;
    background-color: black;
    color:white; 
    border-radius: 10px; 
    opacity: 0.8;
}

#workout-plan{
    display:inline-block;
    padding:18px;
    margin-bottom: 15px;
    border:solid white;
    background-color: black;
    color:white;
    opacity: 0.8;
    border-radius: 10px;
    font-family: 'Lobster', cursive;
}

#diet-title{
    display:flex;
    justify-content: center;
    font-size: 26px;
    border:solid white;
}


p{
    display: inline-block;
    border:solid white;
    padding:5px;
}

textarea{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom:10px;
}

#icon-save{
    display: inline-block;
}

.weekdays{
    margin:20px;
}